<style>

</style>
<link rel="stylesheet" href="../public/stylesheets/style.css">
<div style="background-color: #00B7FF">
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Sasta Bazaar</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Shopping Cart</a>
             <!--   <span class="badge">{{session.cart.totalQty}}</span> -->
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user" aria-hidden="true"></i>User Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {{#if login}}
                        <a class="dropdown-item" href="/profile">Profile</a>
                        <a class="dropdown-item" href="/logout">logout</a>
                    {{else}}
                        <a class="dropdown-item" href="/signup">Signup</a>
                        <a class="dropdown-item" href="/signin">Signin</a>
                    {{/if}}
                </div>
            </li>
        </ul>
    </div>
</nav>
<br></div><br><br>


<div class="w3-content w3-section" style="max-width:500px">

    <img class="mySlides pic" src="https://www.curalate.com/wp-content/uploads/2016/01/yellowdress.png" >
        <img class="mySlides pic" src="https://adpearance.com/images/blog/layout.png">
    <img class="mySlides pic" src="https://ithemes.com/wp-content/uploads/2014/08/ecommerce-product-photography.png" >
</div>
<div style="background-color: #eeeeee">
<br><br></div><br>
<body>
<div class="container">
{{#each aj}}
    <div class="row">
    {{#each this}}
        <div class="col-4">
        <div class="card yo" >
            <img class="card-img-top img card" src="{{this.ImagePath}}" alt="Card image cap">
            <div class="card-block container">
                <h4 class="card-title">{{this.Title}}</h4>
                <p class="card-text">{{this.Description}}</p>
                <div class="pull-left"><kbd style="font-size: large">&#x20B9; {{this.price}}</kbd> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <a href="/add-to-cart/{{this._id}}" class="btn btn-primary pull-right">Add- To Cart</a></div>
            </div>
        </div>
        </div>
    {{/each}}
    </div>
    <br>
{{/each}}
</div>
<script>

    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        setTimeout(carousel, 2000); // Change image every 2 seconds
    }
</script>
</body>